.work {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
.elba {
  width: 150px;
  height: 150px;
}

.order{
    list-style: circle;
    margin-top: 30px;
}